TeamDEW.json
[{"id":"1bc64334f8b44738","type":"tab","label":"Main Flow","disabled":false,"info":"","env":[]},{"id":"7dcd9e2ff334994e","type":"mqtt out","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Edge/id/eServoLabelX/cmd/status/fmt/json","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"50da3cebd994611c","x":1360,"y":320,"wires":[]},{"id":"9648bd4cb67d3a14","type":"switch","z":"1bc64334f8b44738","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":370,"y":320,"wires":[["8d397244f3c35aa7"],["47fcc93fb2bcd8f7"],["88cf60f5ea45b9d5"],["11be3a30e5b1a64f"]]},{"id":"8d397244f3c35aa7","type":"debug","z":"1bc64334f8b44738","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":260,"wires":[]},{"id":"f14ac1b67aa73993","type":"function","z":"1bc64334f8b44738","name":"","func":"if (typeof(msg.payload) === 'string'){\n    msg.payload = JSON.parse(msg.payload);\n}\n\nmsg.payload = msg.payload.d.class;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":140,"wires":[["9648bd4cb67d3a14"]]},{"id":"1c289b37aea13083","type":"mqtt in","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Edge/id/eSensor/evt/status/fmt/json","qos":"0","datatype":"auto","broker":"2e7a5ce3d6cdf094","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":640,"wires":[["7ea55a5651486108"]]},{"id":"9a6f9031f8ca2d91","type":"mqtt in","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Python/id/Class/#","qos":"0","datatype":"auto","broker":"2e7a5ce3d6cdf094","nl":false,"rap":true,"rh":0,"inputs":0,"x":420,"y":140,"wires":[["f14ac1b67aa73993"]]},{"id":"3e6fd3486bd4c3d0","type":"mqtt out","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Edge/id/eServoLabel/cmd/status/fmt/json","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"50da3cebd994611c","x":1360,"y":380,"wires":[]},{"id":"ce0d40e378d47528","type":"mqtt in","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Edge/id/eServoLabel/evt/status/fmt/json","qos":"0","datatype":"auto","broker":"2e7a5ce3d6cdf094","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":920,"wires":[["2afc6bf66cde4638"]]},{"id":"e4a0b5166e1c00e8","type":"function","z":"1bc64334f8b44738","name":"Set Flow variable 'eServoLabelX'","func":"if (typeof(msg.payload) === 'string'){\n    msg.payload = JSON.parse(msg.payload);\n}\n\nflow.set(\"eServoLabelX\", msg.payload.d.state);\n//msg.payload = msg.payload.d.state;\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":900,"y":820,"wires":[[]]},{"id":"2afc6bf66cde4638","type":"function","z":"1bc64334f8b44738","name":"Set Flow variable 'eServoLabel'","func":"if (typeof(msg.payload) === 'string'){\n    msg.payload = JSON.parse(msg.payload);\n}\n\nflow.set(\"eServoLabel\", msg.payload.d.state)\n/* 내가 서보모터에서 state로 값 보내면 됨\n서보 각도 읽는 함수 servo.read(); \n서보모터 코드에서 각도 보내기 */\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":890,"y":920,"wires":[[]]},{"id":"7ea55a5651486108","type":"function","z":"1bc64334f8b44738","name":"","func":"msg.payload = {\n    \"d\":{\n        \"detect\":msg.payload\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":640,"wires":[["d383e7df7aa98922"]]},{"id":"d383e7df7aa98922","type":"delay","z":"1bc64334f8b44738","name":"","pauseType":"delay","timeout":"2.2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1070,"y":640,"wires":[["85097500be767eb6","34573ade5d2cf207"]]},{"id":"88cf60f5ea45b9d5","type":"function","z":"1bc64334f8b44738","name":"","func":"var evt = {\n    \"d\" : {\n        \"drive\" : {\n        }\n    }\n}\n\nvar CheckOther = parseInt(flow.get('eServoETC'));\nvar finish = 0;\n\nif (CheckOther === finish) {\n    evt.d.drive = \"on\"\n} else {\n    evt.d.drive = \"delay\"\n}\n\nreturn {payload:evt};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":380,"wires":[["3e6fd3486bd4c3d0"]]},{"id":"47fcc93fb2bcd8f7","type":"function","z":"1bc64334f8b44738","name":"","func":"var evt = {\n    \"d\" : {\n        \"drive\" : {\n        }\n    }\n}\n\nvar CheckOther = parseInt(flow.get('eServoLabel'));\nvar finish = 120;\n\nif (CheckOther === finish) {\n    evt.d.drive = \"on\"\n} else {\n    evt.d.drive = \"delay\"\n}\n\nreturn {payload:evt};","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940,"y":320,"wires":[["7dcd9e2ff334994e"]]},{"id":"2c4c0cb47c317260","type":"switch","z":"1bc64334f8b44738","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"str"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":910,"y":1260,"wires":[["1eab27c7219d80c6"],["a7efd1b322ced407"],["582e833ad7c220d7"],["b6d2a9f3bd622852"]]},{"id":"b5c26c9f43aaf3b6","type":"mqtt in","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Python/id/Class/#","qos":"0","datatype":"auto","broker":"2e7a5ce3d6cdf094","nl":false,"rap":true,"rh":0,"inputs":0,"x":440,"y":1260,"wires":[["75511d216c6d149d"]]},{"id":"75511d216c6d149d","type":"function","z":"1bc64334f8b44738","name":"","func":"if (typeof(msg.payload) === 'string'){\n    msg.payload = JSON.parse(msg.payload);\n}\n\nmsg.payload = msg.payload.d.class;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":1260,"wires":[["2c4c0cb47c317260"]]},{"id":"a7efd1b322ced407","type":"function","z":"1bc64334f8b44738","name":"","func":"var X_label = flow.get(\"count_class1\")\nX_label += 1;\nflow.set(\"count_class1\", X_label);\nmsg.payload = X_label\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1240,"wires":[["6f0f19fbff27d9b6","af5e69d0ed8d25cc"]]},{"id":"582e833ad7c220d7","type":"function","z":"1bc64334f8b44738","name":"","func":"var O_label = flow.get(\"count_class2\")\nO_label += 1;\nflow.set(\"count_class2\", O_label);\nmsg.payload = O_label\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1320,"wires":[["6f0f19fbff27d9b6","4be33fee7dc7a3d3"]]},{"id":"b6d2a9f3bd622852","type":"function","z":"1bc64334f8b44738","name":"","func":"var ETC_pet = flow.get(\"count_class3\")\nETC_pet += 1;\nflow.set(\"count_class3\", ETC_pet);\nmsg.payload = ETC_pet\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1160,"y":1400,"wires":[["6f0f19fbff27d9b6","2cdb9352cfdbea4b"]]},{"id":"1eab27c7219d80c6","type":"debug","z":"1bc64334f8b44738","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1150,"y":1120,"wires":[]},{"id":"6f0f19fbff27d9b6","type":"function","z":"1bc64334f8b44738","name":"","func":"var X_label = flow.get(\"count_class1\")\nvar O_label = flow.get(\"count_class2\")\nvar ETC_pet = flow.get(\"count_class3\")\nvar total = X_label + O_label + ETC_pet;\n\nvar text = '<p>Total Quantity; ' + total + '</p>';\ntext += '<p>label_X PET; ' + X_label + '</p>';\ntext += '<p>label_0 PET; ' + O_label + '</p>';\ntext += '<p>etc_PET; ' + ETC_pet + '</p>';\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1480,"y":1320,"wires":[["f9c663b465b6cf27"]]},{"id":"f9c663b465b6cf27","type":"ui_template","z":"1bc64334f8b44738","group":"736df19fb715ea62","name":"","order":0,"width":"3","height":"2","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1700,"y":1320,"wires":[[]]},{"id":"af5e69d0ed8d25cc","type":"ui_gauge","z":"1bc64334f8b44738","name":"","group":"736df19fb715ea62","order":1,"width":"2","height":"2","gtype":"gage","title":"X_Label","label":"quantity","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1480,"y":1120,"wires":[]},{"id":"4be33fee7dc7a3d3","type":"ui_gauge","z":"1bc64334f8b44738","name":"","group":"736df19fb715ea62","order":2,"width":"2","height":"2","gtype":"gage","title":"O_Label","label":"quantity","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1480,"y":1220,"wires":[]},{"id":"2cdb9352cfdbea4b","type":"ui_gauge","z":"1bc64334f8b44738","name":"","group":"736df19fb715ea62","order":3,"width":"2","height":"2","gtype":"gage","title":"ETC_pet","label":"quantity","format":"{{value}}","min":0,"max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":1480,"y":1440,"wires":[]},{"id":"11be3a30e5b1a64f","type":"debug","z":"1bc64334f8b44738","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":930,"y":440,"wires":[]},{"id":"85097500be767eb6","type":"mqtt out","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Edge/id/eServoLabelX/cmd/status/fmt/json","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"50da3cebd994611c","x":1520,"y":640,"wires":[]},{"id":"34573ade5d2cf207","type":"mqtt out","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Edge/id/eServoLabel/cmd/status/fmt/json","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"50da3cebd994611c","x":1520,"y":700,"wires":[]},{"id":"d43680e5b9ba88ed","type":"mqtt in","z":"1bc64334f8b44738","name":"","topic":"iot-2/type/Edge/id/eServoLabelX/evt/status/fmt/json","qos":"0","datatype":"auto","broker":"2e7a5ce3d6cdf094","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":820,"wires":[["e4a0b5166e1c00e8"]]},{"id":"b08956f3746d1a5d","type":"inject","z":"1bc64334f8b44738","name":"initial set variable to '0'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":500,"y":1500,"wires":[["cb0b37bb4ca4d73d"]]},{"id":"cb0b37bb4ca4d73d","type":"function","z":"1bc64334f8b44738","name":"count_class1","func":"flow.set(\"count_class1\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1500,"wires":[["af5e69d0ed8d25cc"]]},{"id":"466595511559fee8","type":"inject","z":"1bc64334f8b44738","name":"initial set variable to '0'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":500,"y":1580,"wires":[["f2b0ecbe93aafe60"]]},{"id":"f2b0ecbe93aafe60","type":"function","z":"1bc64334f8b44738","name":"count_class2","func":"flow.set(\"count_class2\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1580,"wires":[["4be33fee7dc7a3d3"]]},{"id":"eddef46799d482f8","type":"inject","z":"1bc64334f8b44738","name":"initial set variable to '0'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":500,"y":1660,"wires":[["44e1e8be61d61373"]]},{"id":"44e1e8be61d61373","type":"function","z":"1bc64334f8b44738","name":"count_class3","func":"flow.set(\"count_class3\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":810,"y":1660,"wires":[["2cdb9352cfdbea4b"]]},{"id":"e894af542adfad81","type":"inject","z":"1bc64334f8b44738","name":"set Text to '0'","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":530,"y":1760,"wires":[["6a6f6ced0ef0388f"]]},{"id":"6a6f6ced0ef0388f","type":"function","z":"1bc64334f8b44738","name":"","func":"var text = '<p>Total Quantity; ' + 0 + '</p>';\ntext += '<p>label_X PET; ' + 0 + '</p>';\ntext += '<p>label_0 PET; ' + 0 + '</p>';\ntext += '<p>etc_PET; ' + 0 + '</p>';\n\nmsg.payload = text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":800,"y":1760,"wires":[["f9c663b465b6cf27"]]},{"id":"50da3cebd994611c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2e7a5ce3d6cdf094","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"736df19fb715ea62","type":"ui_group","name":"Current Sorted Quantity","tab":"c28d5d16b4c7042e","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"c28d5d16b4c7042e","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]